@{
    ViewData["Title"] = "Home Page";
    
    @using Microsoft.AspNetCore.Authorization
    @inject IAuthorizationService _authz
}

<h2>Claims</h2>

<dl>
    @foreach (var claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
</dl>

<h3>Policies (with UI authorization rendering)</h3>

@if (await _authz.AuthorizeAsync(User, "SalesOnly"))
{
    <div>
        <a href="/test/salesOnly">Sales only</a>
    </div>
}

@if (await _authz.AuthorizeAsync(User, "SalesSenior"))
{
    <div>
        <a href="/test/salesSenior">Sales seniors only</a>
    </div>
}

@if (await _authz.AuthorizeAsync(User, "DevInterns"))
{
    <div>
        <a href="/test/devInterns">Dev interns only</a>
    </div>
}