@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://identityserver4.readthedocs.io">securing Web apps with IdentityServer</a>.</p>
</div>
