@model AspNetCoreAuthentication.Controllers.Data

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <form asp-controller="Home" asp-action="Protect" method="post" class="form-horizontal" role="form">
            <h2>Protect</h2>
            <p>
                <input asp-for="PlainText" class="form-control input-lg" autocomplete="off" placeholder="Un-encrypted data" />
            </p>
            <p>
                <input type="submit" class="btn btn-primary" value="Protect" />
            </p>
        </form>
    </div>
    <div class="col-md-6">
        <form asp-controller="Home" asp-action="Unprotect" method="post" class="form-horizontal" role="form">
            <h2>Unprotect</h2>
            <p>
                <input asp-for="CipherText" class="form-control input-lg" autocomplete="off" placeholder="Encrypted data" />
            </p>
            <p>
                <input type="submit" class="btn btn-primary" value="Unprotect" />
            </p>
        </form>
    </div>
</div>
